@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  body {
    margin: 0;
    padding: 0;
    background: white !important;
  }

  @page {
    size: A4;
    margin: 0;
  }

  .min-h-screen {
    display: none;
  }

  div[style*="210mm"] {
    display: block !important;
  }
}
